__pycache__/
*.py[cod]
*$py.class
/test-reports/
/system_tests/test-reports/

O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
*.tag
/data/
/doc/
*_info_positions.req
*_info_settings.req
